{% extends "base.html"%}

{% load static%}

{% block title%}Indicus Zoologica{% endblock %}

{% block description%}This is my Decription{% endblock%}

{% block robots%}index follow{% endblock%}

{% block keywords%} journal, scientific journal {% endblock %}

{% block aimactive %}selected{% endblock  %}

{% block body%}

<section class="hero2" style="background-image: url('{% static "images/12223.jpg" %}');">
    <h1 id="heading">INDICUS ZOOLOGICA</h1>
    <h1 style="font-size: 35px;">Welcome to the International  Biosciences Platform</h1>
    <p style="font-weight: bold;">Your source for cutting-edge research and discoveries</p>
</section>


<div id = "aim_scope">
    <h1>AIM AND SCOPE</h1>
    <p style="font-size: 20px;"><br><br>Indicus Zoologica is one of the professional, peer-reviewed zoological
        and ornithological journal. The journal publishes original research articles,
        reviews, and short communications from all regions of the world.
        Manuscripts from all fields of, Zoology, Ornithology, Entomology, Pathology, Ecology, environment,
        Conservation are considered for publication, especially focusing on the ecology, morphology,
        behaviour, evolution, biogeography and conservation of animals. Studies advancing our understanding 
        of living or extinct species, populations or assemblages are also accepted. With health benefits, and human
        welfare the papers from
        Microbiology, Biochemistry, Biotechnology and Ayurveda are also considered</p>
</div>

<div id="info_table">
    <h2 style="color: grey;font-weight: bold;margin-bottom: 15px;}">Journal Particulars</h2>
<table align="left" border="0" cellpadding="5" cellspacing="5" style="width:700px" >
	<tbody>
		<tr>
			<td style="width:214px"><strong>Title</strong></td>
			<td style="width:355px"><strong>:</strong> Indicus Zoologica</td>
		</tr>
		<tr>
			<td style="width:214px"><strong>Frequency</strong></td>
			<td style="width:355px"><strong>: </strong>Triannual</td>
		</tr>
		<tr>
			<td style="width:214px"><strong>ISSN</strong></td>
			<td style="width:355px"><strong>: </strong>--</td>
		</tr>
		<tr>
			<td style="width:214px"><strong>Publisher</strong></td>
			<td style="width:355px"><strong>:</strong> SPARO Publications</td>
		</tr>
		<tr>
			<td style="width:214px"><strong>Cheif Editor</strong></td>
			<td style="width:355px"><strong>: </strong>Dr. Mahesh Veeraa</td>
		</tr>
		<tr>
			<td style="width:214px"><strong>Copyright</strong></td>
			<td style="width:355px"><strong>: </strong>SPARO Publications</td>
		</tr>
		<tr>
			<td style="width:214px"><strong>Starting Year</strong></td>
			<td style="width:355px"><strong>: </strong>2023</td>
		</tr>
		<tr>
			<td style="width:214px"><strong>Subject&nbsp;</strong></td>
			<td style="width:436px">
			<p><strong>:&nbsp;</strong>Zoology, &nbsp;Ornithology, &nbsp;Entomology, Microbiology, Ecology, &nbsp;&nbsp;Environment, &nbsp;Conservation, Pathology, 
			Biochemistry, &nbsp;&nbsp;Biotechnology and Ayurveda.</p>
			</td>
		</tr>
		<tr>
			<td style="width:214px"><strong>Language</strong></td>
			<td style="width:355px"><strong>: </strong>English</td>
		</tr>
		<tr>
			<td style="width:214px"><strong>Publication Format</strong></td>
			<td style="width:355px"><strong>: </strong>Online</td>
		</tr>
		<tr>
			<td style="width:214px"><strong>Mobile Number</strong></td>
			<td style="width:355px"><strong>: </strong>+91 94411 49933</td>
		</tr>
		<tr>
			<td style="width:214px"><strong>Email Id</strong></td>
			<td style="width:355px"><strong>: </strong>editor.indicus@gmail.com</td>
		</tr>
		<tr>
			<td style="width:214px"><strong>Website</strong></td>
			<td style="width:355px"><strong>: </strong>www.indicuszoologica.com</td>
		</tr>
		<tr>
			<td style="width:214px"><strong>Address</strong></td>
			<td style="width:355px"><strong>: </strong>D No: 11-2-83/2<br />
                                                     &nbsp; Ayyanna Nilayam, Ayyanna Colony<br/>
                                                     &nbsp; Jangareddigudem-534447<br/>
                                                     &nbsp; Andhra Pradesh, India</td>
		</tr>
	</tbody>
</table>
</div>



{% endblock %}