{% extends "base.html"%}

{% load static%}

{% block title%}Indicus Zoologica{% endblock %}

{% block description%}This is my Decription{% endblock%}

{% block robots%}index follow{% endblock%}

{% block keywords%} journal, scientific journal {% endblock %}



{% block body%}

<div id="editorial_b">
    <h2 style="text-align: center;">Editorial Board</h2>
    
    <h4 style="text-align: center;font-weight: 600;color: darkslategray;">Editor-in-Chief:</h4>
    <p style=" text-align: center;line-height: 24px">
        <b>Dr. Mahesh Veeraa</b><br />Sparrow Protection and Reasearch Organisation,<br/>
            Jangareddigudem-534455, India<br />
            Mobile: +91-9441149933<br/>
            e-mail: editor.indicus@gmail.com<br />
        
    </p>
    
    <h4 style="text-align: center;font-weight: 600;color: darkslategray;">Board of Editors</h4>
    <div class="grid-container">
      <div class="grid-item">
          
        <p>
            <b>Dr. Sriram Seshadri</b><br/>
            Associate Professor & Academic Coordinator<br/>
            Institute of Science, Nirma University<br/>
            Chharodi, Sarkhej Gandhinagar Highway<br/>
            Ahmedabad, Gujarat – 382481<br/>
            Mobile: +91-9974192002; +91-9537622011<br/>
            E-mail: sriram.seshadri@nirmauni.ac.in<br/>
        </p>
        
        </div>
      <div class="grid-item">
          
        <p>
          <b>Dr. Mamidala Estari</b><br />
            Associate Professor<br/>
            Department of Zoology<br/>
            Kakatiya University, Warangal<br/>
            Mobile: +91-9848309231 <br/>
            E-mail: estari08@gmail.com<br/>
            <a href = "https://kakatiya.ac.in/faculty_details/43/dept/365" target="_blank">More Details</a><br/>
        </p>

      </div>
      <div class="grid-item">
          
        <p>
          <b>Dr. Potti Ravindra Babu</b><br />
            Scientist<br/>
            Provis Biolabs Pvt. Ltd, Hyd<br/>
            HYDERABAD - 500018 <br/>
            Mobile: +91-9885788566,<br/>
            E-Mail: pottirb@gmail.com <br/>
        </p>
        
      </div>
      <div class="grid-item">
      
        <p>
          <b>Dr. Suseela lanka</b><br />
            Assistant Professor<br/>
            Department of Biosciences and Biotechnology<br/>
            Krishna University,Machilipatnam-521003<br/>
            Krishna Dist., Andhra Pradesh, India.   <br/>     			     
            Mobile: +91-9866914670<br/>
            E-mail: susheelalankaku@gmail.com  <br/>  
        </p>
        
      </div>
      <div class="grid-item">
          
        <p>
          <b>Dr V. Rama Rao</b><br />
            Research Officer (Scintist-3) Botany<br/>
            Central Ayurveda Research Institute   <br/>
            (CCRAS, Ministry of AYUSH, Govt. of India)<br/>
            Bengaluru, Karnataka-560 109<br/>
            Mobile: +91-9341188904<br/>
            E-mail :vendrapati@yahoo.com<br/>
        </p>
            
      </div>
    </div>
</div>

{% endblock %}